.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expenses-list-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.expenses-list {
  list-style-type: none;
  padding: 0;
}

.expense-item {
  margin-bottom: 10px;
}

.expense-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.expense-link:hover {
  color: #007bff;
}

.expense-detail-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}